@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* 📁 Font Imports */
@font-face {
  font-family: "RockSalt-Regular";
  src: url("/fonts/RockSalt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sequel-Sans-Book-Disp";
  src: url("/fonts/Sequel-Sans-Book-Disp.otf") format("opentype");
}

@font-face {
  font-family: "Sequel-Sans-Light-Body";
  src: url("/fonts/Sequel-Sans-Light-Body.otf") format("opentype");
}

@font-face {
  font-family: "Sequel-Sans-Semi-Bold-Head";
  src: url("/fonts/Sequel-Sans-Semi-Bold-Head.otf") format("opentype");
}

@font-face {
  font-family: "Sequel-Sans-Bold-Disp";
  src: url("/fonts/Sequel-Sans-Bold-Disp.otf") format("opentype");
}

/* 🌿 Base Styles */
body {
  @apply antialiased;
  background-color: #fdfdf7;
}

/* 🌿 Custom Selection */
::selection {
  background-color: #27AE60;
  color: white;
}
